body {
    --color-primary: #DA5B55;
    --color-secondary: #37BD69;
    --color-grey-dark: #222;
    background-color: var(--color-grey-dark)
}

.App {
  text-align: center;
  color: white;
  font-family: 'arial-narrow', sans-serif;
  min-height: 100vh;
  max-width: 1408px;
  margin: 0 auto;
}


p {
  margin: 0px;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}