
.hidden {
    display: none;
}

.blindtest-session {
    /* display: flex;
    justify-content: left; */
    height: 100vh;
}

.played-song {
    width: 20%;
    /* flex: 0 1 20%; */
    padding: 0 16px;
    text-align: left;
    font-size: .6rem;
}

@media (max-width: 924px) {
    .played-song {
        display: none;
    }
}

.current-session {
    width: 80%;
    /* flex: 0 0 80%; */
    margin: 0 auto;
    /* margin-left: 20%; */
    /* margin: 0 auto; */
    text-align: center;
    position: relative;
}

.canGrow {
    margin: 0;
    transform: translateX(25%);
    transition: transform cubic-bezier(0.71, 0.35, 0.81, 0.72) .5s;
}

.current-blindest {
    width: 100%;
    margin-top: 64px;
}

/* Answers  */
.played-song .answer-content {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
}

.played-song .answer-image {
    flex: 0 1 48px;
    width: 48px;
    height: 48px;
}

.played-song .answer-details {
    flex: 1 0 60%;
    margin: 0 16px 0 8px;
    /* font-size: .85rem; */
}

.played-song .answer-type {
    flex: 0 1 16px;
}

@media (max-width: 1381px) {
    .played-song .answer-type {
        display: none;
    }
}

