.playlist {
    position: relative;
    height: 320px;
    opacity: 1;
}

.playlist img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.playlist:hover img {
    opacity: .2;
}


ul, li, h3, .tagInput {
    position: relative;
    z-index: 3;
}

.playlist li, 
tagList, 
.playlist-rating span,
.playlist .search-indication {
    list-style-type: none;
    z-index: 3;
    opacity: 0;
}

.playlist:hover li,
.playlist:hover tagList,
.playlist:hover .playlist-rating span,
.playlist:hover .search-indication {
    opacity: 1;
}

.playlist .buttons {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}



h3 {
    font-size: 1.5rem;
    color: #fdfdfd;
    text-transform: uppercase;
}

