.playlistPage .blindtestContainer.playing {
    display: block;
    height: 500px;
    background: red
}

.playlistPage .blindtestContainer.hidden {
    display: none;
}

.playlistPage .blindtestContainer {
    position: relative;
}

.playlistPage .blindtestContainer .close .cta {
    position: absolute;
    top: 10%;
    right: 10%;
}